[Desktop Entry]
Type=Application
Exec=code
Hidden=false
NoDisplay=false
X-GNOME-Autostart-enabled=true
Name[en_US]=code
Name=code
Comment[en_US]=code
Comment=code
