[Desktop Entry]
Type=Application
Exec=copyq
Hidden=false
NoDisplay=false
X-GNOME-Autostart-enabled=true
Name[en_US]=copyq
Name=copyq
Comment[en_US]=copyq
Comment=copyq
